TESTS := tests/orbit_instantiation tests/multi_mod tests/basetypes

ORBIT_INSTANTIATION_OBJS := tests/orbit_instantiation.o
MULTI_MOD_OBJS := tests/multi_mod_a.o tests/multi_mod_b.o
BASETYPES_OBJS := tests/basetypes.o

test: $(TESTS)
	for test in $(TESTS); do \
		./$$test; \
	done

tests/orbit_instantiation: $(ORBIT_INSTANTIATION_OBJS)
	g++ $(CXXFLAGS) $(LDFLAGS) -o tests/orbit_instantiation $(ORBIT_INSTANTIATION_OBJS)

tests/multi_mod: $(MULTI_MOD_OBJS)
	g++ $(CXXFLAGS) $(LDFLAGS) -o tests/multi_mod $(MULTI_MOD_OBJS)

tests/basetypes: $(BASETYPES_OBJS)
	g++ $(CXXFLAGS) $(LDFLAGS) -o tests/basetypes $(BASETYPES_OBJS)

MODULES_CLEAN := $(MODULES_CLEAN) $(TESTS)
MODULES_CLEAN := $(MODULES_CLEAN) $(ORBIT_INSTANTIATION_OBJS) $(ORBIT_INSTANTIATION_OBJS:.o=.d)
MODULES_CLEAN := $(MODULES_CLEAN) $(MULTI_MOD_OBJS) $(MULTI_MOD_OBJS:.o=.d)
MODULES_CLEAN := $(MODULES_CLEAN) $(BASETYPES_OBJS) $(BASETYPES_OBJS:.o=.d)

-include $(ORBIT_INSTANTIATION_OBJS:.o=.d)
-include $(MULTI_MOD_OBJS:.o=.d)
-include $(BASETYPES_OBJS:.o=.d)
