TEST_TARGETS := tests/orbit_instantiation tests/multi_mod

ORBIT_INSTANTIATION_OBJS := tests/orbit_instantiation.o
MULTI_MOD_OBJS := tests/multi_mod_a.o tests/multi_mod_b.o

tests/orbit_instantiation: $(ORBIT_INSTANTIATION_OBJS)
	g++ $(CXXFLAGS) $(LDFLAGS) -o tests/orbit_instantiation $(ORBIT_INSTANTIATION_OBJS)

tests/multi_mod: $(MULTI_MOD_OBJS)
	g++ $(CXXFLAGS) $(LDFLAGS) -o tests/multi_mod $(MULTI_MOD_OBJS)

MODULES_CLEAN := $(MODULES_CLEAN) tests/orbit_instantiation tests/multi_mod
MODULES_CLEAN := $(MODULES_CLEAN) $(ORBIT_INSTANTIATION_OBJS) $(ORBIT_INSTANTIATION_OBJS:.o=.d)
MODULES_CLEAN := $(MODULES_CLEAN) $(MULTI_MOD_OBJS) $(MULTI_MOD_OBJS:.o=.d)

-include $(ORBIT_INSTANTIATION_OBJS:.o=.d)
-include $(MULTI_MOD_OBJS:.o=.d)
